@page
@model WebApplication2.Pages.Hero.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HeroModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.sexId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.sexId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.timeTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.timeTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.groupId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.groupId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.starId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.starId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.armId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.armId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.costId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.costId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.Attackdistance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.Attackdistance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.InitialStrategy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.InitialStrategy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.Initialattack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.Initialattack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.Initialsiege)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.Initialsiege)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.InitialDefense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.InitialDefense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.Initialspeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.Initialspeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.BasictacticsId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.BasictacticsId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.DetachabletacticsId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.DetachabletacticsId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroModel.picPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroModel.picPath)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="HeroModel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
